{% extends 'layout/base.html' %}
{% load static %}

{% block extension %}SIMUI - Home{% endblock %}

{% block content %}
        <div class="screen3 container py-5">
            <h1>Organisasi</h1>
        
            <table class="table table-bordered bg-light">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nama Organisasi</th>
                  <th scope="col">Email</th>
                  <th scope="col">Website</th>
                  <th scope="col">Tingkatan</th>
                  <th scope="col">Kategori</th>
                  <th scope="col">Logo</th>
                  <th scope="col">Deskripsi</th>
                  <th scope="col">Contact Person</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Combine</td>
                  <td>Breen@combine.com</td>
                  <td>combine.com</td>
                  <td>satu</td>
                  <td>empire</td>
                  <td>heho</td>
                  <td>find freeman</td>
                  <td>Breen: 087789877</td>
                </tr>
                <tr>
                  <td>Black Mesa</td>
                  <td>Gordon@blackmesa.com</td>
                  <td>blackmesa.com</td>
                  <td>satu</td>
                  <td>facility</td>
                  <td>heho</td>
                  <td>help freeman</td>
                  <td>Gordon: 087789877</td>
                </tr>
                <tr>
                  <td>Apeture</td>
                  <td>Chloe@blackmesa.com</td>
                  <td>apeturescience.com</td>
                  <td>satu</td>
                  <td>facility</td>
                  <td>heho</td>
                  <td>help box</td>
                  <td>Glad0s: 087789877</td>
                </tr>
              </tbody>
            </table>
        </div>
        
        <!-- Scripts -->
        
        <!-- End of Scripts -->
    
{% endblock %}
