{% extends 'layout/base.html' %}
{% load static %}

{% block extension %}SIMUI - List Organisasi{% endblock %}

{% block content %}
         <div class="align-items-center d-flex cover screen3 py-5">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 p-3">
                  <form class="p-4 bg-light" method="post" action="{% url 'core:add_event' %}">
                    <h4 class="mb-4 text-center">Tambahkan Event</h4>
                    {% csrf_token %}
                    <div class="form-group">
                      <label>Nama Event</label>
                      <input class="form-control" name="nama" placeholder="nama event"> </div>
                    <div class="form-group">
                      <label>Tanggal</label>
                      <input class="form-control" name="tanggal" placeholder="format: 2018-03-15"> </div>
                    <div class="form-group">
                      <label>Kapasitas</label>
                      <input type="number" class="form-control" name="kapasitas" placeholder="kapasitas"> </div>
                    <div class="form-group">
                      <label>Harga Tiket</label>
                      <input type="number" class="form-control" name="tiket" placeholder="harga"> </div> 
                    <div class="form-group">
                      <label>Lokasi</label>
                      <input class="form-control" name="lokasi" placeholder="lokasi" > </div> 
                    <div class="form-group">
                      <label>Sifat Event</label><br>
                      <select name="sifat" style="position: relative; left: 1rem">  
                        <option value="Umum"> Umum</option>
                        <option value="Private"> Private </option></div>
                      </select>
                     <div class="form-group">
                      <label>Kategori</label>
                      <select name="kategori" style="position: relative; left: 1rem">
                        <option selected value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select> </div>
                    <div class="form-group">
                      <label>Deskripsi</label>
                      <input name="deskripsi" class="form-control" placeholder="deskripsi"> </div>
                    <div class="form-group">
                      <label>Poster</label>
                      <br><input type="file" name="poster" accept="image/*"> </div>
                    <button type="submit" class="btn mt-4 btn-block p-2 btn-primary">
                      <b>Tambahkan</b>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        <!-- Scripts -->
{% endblock %}