{% extends 'layout/base.html' %}
{% load static %}

{% block extension %}SIMUI - List Organisasi{% endblock %}

{% block content %}
         <div class="align-items-center d-flex cover screen3 py-5">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 p-3">
                  <form class="p-4 bg-light" method="post" action="{% url 'core:update_panit' %}">
                    {% csrf_token %}
                    <h4 class="mb-4 text-center">Update Kepanitiaan</h4>
                      <div class="form-group"> 
                      <label>Nama Kepanitiaan</label>
                      <input class="form-control" name = "nama" maxlength="50" value="{{ nama }}"> </div>
                     <div class="form-group">
                      <label>Tingkatan</label>
                      {% if tingkatan == 'Fakultas' %}
                      <select name="tingkatan" style="position: relative; left: 1rem">
                        <option selected="selected" value="Fakultas">Fakultas</option>
                        <option value="Universitas">Universitas</option>
                      </select>
                      {% else %}
                      <select name="tingkatan" style="position: relative; left: 1rem">
                        <option value="Fakultas">Fakultas</option>
                        <option selected="selected" value="Universitas">Universitas</option>
                      </select>
                      {% endif %}
                  </div>
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" name="email" class="form-control" maxlength="50" value="{{ email }}"> </div>
                    <div class="form-group">
                      <label>Website</label>
                      <input class="form-control" name="website" maxlength="50" value="{{ website }}"> </div>
                    <div class="form-group">
                      <label>Contact Person</label>
                      <input class="form-control"  name="cp" maxlength="20" value="{{ cp }}"> </div> 
                    
                    <div class="form-group">
                      <label>Kategori</label>
                      <select name="kategori" style="position: relative; left: 1rem">
                        {% if kategori == 'Technology' %}
                        <option selected value="Technology">Technology</option>
                        <option value="Health Care">Health Care</option>
                        <option value="Public Utilities">Public utilities</option>
                        <option value="Finance">Finance</option>
                        <option value="n/a">n/a</option>
                        <option value="Energy">Energy</option>
                        <option value="Consumer Services">Consumer Services</option>
                        <option value="Consumer Durables">Consumer Durables</option>
                        <option value="Consumer Non-Durables">Consumer Non-Durables</option>
                        <option value="Basic Industries">Basic Industries</option>
                        <option value="Capital Goods">Capital Goods</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                        {% elif kategori == 'Health Care' %}
                        <option value="Technology">Technology</option>
                        <option selected value="Health Care">Health Care</option>
                        <option value="Public Utilities">Public utilities</option>
                        <option value="Finance">Finance</option>
                        <option value="n/a">n/a</option>
                        <option value="Energy">Energy</option>
                        <option value="Consumer Services">Consumer Services</option>
                        <option value="Consumer Durables">Consumer Durables</option>
                        <option value="Consumer Non-Durables">Consumer Non-Durables</option>
                        <option value="Basic Industries">Basic Industries</option>
                        <option value="Capital Goods">Capital Goods</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                        {% elif kategori == 'Public Utilities' %}
                        <option value="Technology">Technology</option>
                        <option value="Health Care">Health Care</option>
                        <option selected value="Public Utilities">Public utilities</option>
                        <option value="Finance">Finance</option>
                        <option value="n/a">n/a</option>
                        <option value="Energy">Energy</option>
                        <option value="Consumer Services">Consumer Services</option>
                        <option value="Consumer Durables">Consumer Durables</option>
                        <option value="Consumer Non-Durables">Consumer Non-Durables</option>
                        <option value="Basic Industries">Basic Industries</option>
                        <option value="Capital Goods">Capital Goods</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                        {% elif kategori == 'Finance' %}
                        <option value="Technology">Technology</option>
                        <option value="Health Care">Health Care</option>
                        <option value="Public Utilities">Public utilities</option>
                        <option selected value="Finance">Finance</option>
                        <option value="n/a">n/a</option>
                        <option value="Energy">Energy</option>
                        <option value="Consumer Services">Consumer Services</option>
                        <option value="Consumer Durables">Consumer Durables</option>
                        <option value="Consumer Non-Durables">Consumer Non-Durables</option>
                        <option value="Basic Industries">Basic Industries</option>
                        <option value="Capital Goods">Capital Goods</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                        {% elif kategori == 'n/a' %}
                        <option value="Technology">Technology</option>
                        <option value="Health Care">Health Care</option>
                        <option value="Public Utilities">Public utilities</option>
                        <option value="Finance">Finance</option>
                        <option selected value="n/a">n/a</option>
                        <option value="Energy">Energy</option>
                        <option value="Consumer Services">Consumer Services</option>
                        <option value="Consumer Durables">Consumer Durables</option>
                        <option value="Consumer Non-Durables">Consumer Non-Durables</option>
                        <option value="Basic Industries">Basic Industries</option>
                        <option value="Capital Goods">Capital Goods</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                        {% elif kategori == 'Energy' %}
                        <option value="Technology">Technology</option>
                        <option value="Health Care">Health Care</option>
                        <option value="Public Utilities">Public utilities</option>
                        <option value="Finance">Finance</option>
                        <option value="n/a">n/a</option>
                        <option selected value="Energy">Energy</option>
                        <option value="Consumer Services">Consumer Services</option>
                        <option value="Consumer Durables">Consumer Durables</option>
                        <option value="Consumer Non-Durables">Consumer Non-Durables</option>
                        <option value="Basic Industries">Basic Industries</option>
                        <option value="Capital Goods">Capital Goods</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                        {% elif kategori == 'Consumer Services' %}
                        <option value="Technology">Technology</option>
                        <option value="Health Care">Health Care</option>
                        <option value="Public Utilities">Public utilities</option>
                        <option value="Finance">Finance</option>
                        <option value="n/a">n/a</option>
                        <option value="Energy">Energy</option>
                        <option selected value="Consumer Services">Consumer Services</option>
                        <option value="Consumer Durables">Consumer Durables</option>
                        <option value="Consumer Non-Durables">Consumer Non-Durables</option>
                        <option value="Basic Industries">Basic Industries</option>
                        <option value="Capital Goods">Capital Goods</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                        {% elif kategori == 'Consumer Durables' %}
                        <option value="Technology">Technology</option>
                        <option value="Health Care">Health Care</option>
                        <option value="Public Utilities">Public utilities</option>
                        <option value="Finance">Finance</option>
                        <option value="n/a">n/a</option>
                        <option value="Energy">Energy</option>
                        <option value="Consumer Services">Consumer Services</option>
                        <option selected value="Consumer Durables">Consumer Durables</option>
                        <option value="Consumer Non-Durables">Consumer Non-Durables</option>
                        <option value="Basic Industries">Basic Industries</option>
                        <option value="Capital Goods">Capital Goods</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                        {% elif kategori == 'Consumer Non-Durables' %}
                        <option value="Technology">Technology</option>
                        <option value="Health Care">Health Care</option>
                        <option value="Public Utilities">Public utilities</option>
                        <option value="Finance">Finance</option>
                        <option value="n/a">n/a</option>
                        <option value="Energy">Energy</option>
                        <option value="Consumer Services">Consumer Services</option>
                        <option value="Consumer Durables">Consumer Durables</option>
                        <option selected value="Consumer Non-Durables">Consumer Non-Durables</option>
                        <option value="Basic Industries">Basic Industries</option>
                        <option value="Capital Goods">Capital Goods</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                        {% elif kategori == 'Basic Industries' %}
                        <option value="Technology">Technology</option>
                        <option value="Health Care">Health Care</option>
                        <option value="Public Utilities">Public utilities</option>
                        <option value="Finance">Finance</option>
                        <option value="n/a">n/a</option>
                        <option value="Energy">Energy</option>
                        <option value="Consumer Services">Consumer Services</option>
                        <option value="Consumer Durables">Consumer Durables</option>
                        <option value="Consumer Non-Durables">Consumer Non-Durables</option>
                        <option selected value="Basic Industries">Basic Industries</option>
                        <option value="Capital Goods">Capital Goods</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                        {% elif kategori == 'Capital Goods' %}
                        <option value="Technology">Technology</option>
                        <option value="Health Care">Health Care</option>
                        <option value="Public Utilities">Public utilities</option>
                        <option value="Finance">Finance</option>
                        <option value="n/a">n/a</option>
                        <option value="Energy">Energy</option>
                        <option value="Consumer Services">Consumer Services</option>
                        <option value="Consumer Durables">Consumer Durables</option>
                        <option value="Consumer Non-Durables">Consumer Non-Durables</option>
                        <option value="Basic Industries">Basic Industries</option>
                        <option selected value="Capital Goods">Capital Goods</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                        {% elif kategori == 'Miscellaneous' %}
                        <option value="Technology">Technology</option>
                        <option value="Health Care">Health Care</option>
                        <option value="Public Utilities">Public utilities</option>
                        <option value="Finance">Finance</option>
                        <option value="n/a">n/a</option>
                        <option value="Energy">Energy</option>
                        <option value="Consumer Services">Consumer Services</option>
                        <option value="Consumer Durables">Consumer Durables</option>
                        <option value="Consumer Non-Durables">Consumer Non-Durables</option>
                        <option value="Basic Industries">Basic Industries</option>
                        <option value="Capital Goods">Capital Goods</option>
                        <option selected value="Miscellaneous">Miscellaneous</option>
                        {% endif %}
                      </select> </div>
                    <div class="form-group">
                      <label>Logo</label>
                      <br><input type="file" name="pic" accept="image/*"> </div>
                    <div class="form-group">
                      <label>Deskripsi</label>
                      <input class="form-control" name="deskripsi" value="{{ deskripsi }}"> </div>
                    <button type="submit" class="btn mt-4 btn-block p-2 btn-primary">
                      <b>Update</b>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        <!-- Scripts -->
{% endblock %}
