{% extends 'layout/base.html' %}
{% load static %}

{% block extension %}SIMUI - Home{% endblock %}

{% block content %}

<div class="screen4">
    <div class="Title">
        <h1 >Welcome to SIMUI</h1>
    </div> 
    <div class="stats">
        <div anima-show-on-scroll="" class="chiffre an-animation-enter ">     
            <div class="card">
                <div class="card-header bg-primary">
                    <a href="#">Organization</a>
                </div>
                <div class="card-body">
                    {% for i in list_organisasi %}
                    <h6>{{ i.nama }}</h6>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div anima-show-on-scroll="" class="chiffre1 an-animation-enter1 ">              
            <div class="card">
                <div class="card-header bg-primary">
                    <a href="#">Kepanitiaan</a>
                </div>
                <div class="card-body">
                    {% for i in list_kepanitiaan %}
                    <h6>{{ i.nama }}</h6>
                    {% endfor %}
                </div>
            </div>            
        </div>
        <div  anima-show-on-scroll="" class="chiffre2 an-animation-enter2 ">
            <div class="card" style="top: 2rem">
                <div class="card-header bg-primary">
                    <a href="#">Event</a>
                </div>
                <div class="card-body">
                    {% for i in list_event %}
                    <h6>{{ i.nama }}</h6>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
        
{% endblock %}
