{% extends 'layout/base.html' %}
{% load static %}

{% block extension %}SIMUI - List Organisasi{% endblock %}

{% block content %}
{% if request.session.role == "humas" or request.session.role == "admin" %}
<div class="screen5 container py-5">
            <h1>Organisasi</h1> <td><a class="btn btn-success my-2 my-sm-0" style="position: relative; left: 80rem; bottom: 3rem" type="submit" role="button" href="{% url 'core:create_organisasi' %}" >Tambah Organisasi</a>
        
            <table class="table table-bordered bg-light">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nama Organisasi</th>
                  <th scope="col">Email</th>
                  <th scope="col">Website</th>
                  <th scope="col">Tingkatan</th>
                  <th scope="col">Kategori</th>
                  <th scope="col">Logo</th>
                  <th scope="col">Deskripsi</th>
                  <th scope="col">Contact Person</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for i in list %}
                <tr>
                  <td>{{ i.nama }}</td>
                  <td>{{ i.email }}</td>
                  <td>{{ i.alamat_website }}</td>
                  <td>{{ i.tingkatan }}</td>
                  <td>{{ i.kategori }}</td>
                  <td>{{ i.logo }}</td>
                  <td>{{ i.deskripsi }}</td>
                  <td>{{ i.contact_person }}</td>
                  <td><a class="btn btn-primary my-2 my-sm-0" type="submit" role="button" href="{% url 'core:update_organisasi' id=i.id %}">Update</a><a href="{% url 'core:delete_organisasi' i.id %}" id="delete" class="btn btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
{% else %}
<div class="screen5 container py-5">
            <h1>Organisasi</h1>
        
            <table class="table table-bordered bg-light">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nama Organisasi</th>
                  <th scope="col">Email</th>
                  <th scope="col">Website</th>
                  <th scope="col">Tingkatan</th>
                  <th scope="col">Kategori</th>
                  <th scope="col">Logo</th>
                  <th scope="col">Deskripsi</th>
                  <th scope="col">Contact Person</th>
                </tr>
              </thead>
              <tbody>
               {% for i in list %}
                <tr>
                  <td>{{ i.nama }}</td>
                  <td>{{ i.email }}</td>
                  <td>{{ i.alamat_website }}</td>
                  <td>{{ i.tingkatan }}</td>
                  <td>{{ i.kategori }}</td>
                  <td>{{ i.logo }}</td>
                  <td>{{ i.deskripsi }}</td>
                  <td>{{ i.contact_person }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endif %}        
        <!-- Scripts -->
        
        <!-- End of Scripts -->
    
{% endblock %}
