{% extends 'layout/base.html' %}
{% load static %}

{% block extension %}SIMUI - ListKepanitiaan{% endblock %}

{% block content %}
{% if request.session.role == "humas" or request.session.role == "admin" %}
        <div class="screen5 container py-5">
            <h1>Kepanitiaan</h1> <td><a class="btn btn-success my-2 my-sm-0" style="position: absolute; right: -4rem; top: 3rem" type="submit" role="button" href="{% url 'core:create_kepanitiaan' %}">Tambah Kepanitiaan</a>

            <table class="table table-bordered bg-light">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nama Kepanitiaan</th>
                  <th scope="col">Nama Organisasi</th>
                  <th scope="col">Email</th>
                  <th scope="col">Website</th>
                  <th scope="col">Tingkatan</th>
                  <th scope="col">Kategori</th>
                  <th scope="col">Logo</th>
                  <th scope="col">Deskripsi</th>
                  <th scope="col">Contact Person</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for i in list %}
                <tr>
                  <td>{{ i.kepanitiaan }}</td>
                  <td>{{ i.organisasi }}</td>
                  <td>{{ i.email }}</td>
                  <td>{{ i.alamat_website }}</td>
                  <td>{{ i.tingkatan }}</td>
                  <td>{{ i.kategori }}</td>
                  <td>{{ i.logo }}</td>
                  <td>{{ i.deskripsi }}</td>
                  <td>{{ i.contact_person }}</td>
                  <td><a class="btn btn-primary my-2 my-sm-0" type="submit" role="button" href="{% url 'core:update_kepanitiaan' id=i.id%}">Update</a><a href="{% url 'core:delete_kepanitiaan' i.id %}" id="delete" class="btn btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>

        {% else %}
        <div class="screen5 container py-5">
            <h1>Kepanitiaan</h1>

            <table class="table table-bordered bg-light">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nama Kepanitiaan</th>
                  <th scope="col">Nama Organisasi</th>
                  <th scope="col">Email</th>
                  <th scope="col">Website</th>
                  <th scope="col">Tingkatan</th>
                  <th scope="col">Kategori</th>
                  <th scope="col">Logo</th>
                  <th scope="col">Deskripsi</th>
                  <th scope="col">Contact Person</th>
                </tr>
              </thead>
              <tbody>
                {% for i in list %}
                <tr>
                  <td>{{ i.kepanitiaan }}</td>
                  <td>{{ i.organisasi }}</td>
                  <td>{{ i.email }}</td>
                  <td>{{ i.alamat_website }}</td>
                  <td>{{ i.tingkatan }}</td>
                  <td>{{ i.kategori }}</td>
                  <td>{{ i.logo }}</td>
                  <td>{{ i.deskripsi }}</td>
                  <td>{{ i.contact_person }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        {% endif %}
{% endblock %}
