{% extends 'layout/base.html' %}
{% load static %}

{% block extension %}SIMUI - ListKepanitiaan{% endblock %}

{% block content %}
{% if request.session.role == "humas" or request.session.role == "admin" %}
                <div class="screen3 container py-5">
            <h1>Event</h1> <td><a class="btn btn-success my-2 my-sm-0" style="position: absolute; right: -3rem; top: 3rem" type="submit" href="{% url 'core:create_event' %}" role = "button">Tambah Event</a>

            <table class="table table-bordered bg-light">
              <thead class="thead-dark">
                <tr>

                  <th scope="col">Nama Event</th>
                  <th scope="col">Kategori</th>
                  <th scope="col">Tanggal Mulai</th>
                  <th scope="col">Kapasitas</th>
                  <th scope="col">Harga_tiket</th>
                  <th scope="col">Lokasi</th>
                  <th scope="col">Sifat Event</th>
                  <th scope="col">Deskripsi_singkat</th>
                  <th scope="col">Poster</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for i in list %}
                <tr>
                  <td>{{ i.nama }}</td>
                  <td>{{ i.nomor_kategori }}</td>
                  <td>{{ i.tanggal }}</td>
                  <td>{{ i.kapasitas }}</td>
                  <td>{{ i.harga_tiket }}</td>
                  <td>{{ i.lokasi }}</td>
                  <td>{{ i.sifat_event }}</td>
                  <td>{{ i.deskripsi_singkat }}</td>
                  <td>{{ i.poster }}</td>
                  <td><a class="btn btn-primary my-2 my-sm-0" type="submit" role="button" href="{% url 'core:update_event' id=i.id_event %}">Update</a><a href="{% url 'core:delete_event' i.id_event %}" id="delete" class="btn btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        {% else %}

        <div class="screen5 container py-5">
            <h1>Event</h1>

            <table class="table table-bordered bg-light">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nama Event</th>
                  <th scope="col">Kategori</th>
                  <th scope="col">Tanggal Mulai</th>
                  <th scope="col">Kapasitas</th>
                  <th scope="col">Harga_tiket</th>
                  <th scope="col">Lokasi</th>
                  <th scope="col">Sifat Event</th>
                  <th scope="col">Deskripsi_singkat</th>
                  <th scope="col">Poster</th>
                </tr>
              </thead>
              <tbody>
                {% for i in list %}
                <tr>
                  <td>{{ i.nama }}</td>
                  <td>{{ i.nomor_kategori }}</td>
                  <td>{{ i.tanggal }}</td>
                  <td>{{ i.kapasitas }}</td>
                  <td>{{ i.harga_tiket }}</td>
                  <td>{{ i.lokasi }}</td>
                  <td>{{ i.sifat_event }}</td>
                  <td>{{ i.deskripsi_singkat }}</td>
                  <td>{{ i.poster }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        {% endif %}
{% endblock %}
