{% extends 'layout/base.html' %}
{% load static %}

{% block extension %}SIMUI - ListKepanitiaan{% endblock %}

{% block content %}
         <div class="align-items-center d-flex cover screen3 py-5">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 align-self-center text-lg-left text-center">
                  <h1 class="mb-0 mt-5 display-4">Sistem Informasi Mahasiswa UI Login</h1>
                  <p class="mb-5"></p>
                </div>
                <div class="col-lg-6 p-3 bg-secondary">
                  <div class="tab-content mt-2">
                    <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                      <form method="POST" action="{% url 'core:login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                          <label>Username</label>
                          <input name ="Username" class="form-control" placeholder="Username">
                          <small class="form-text text-muted">We'll never share your Username with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label>Password</label>
                          <input name="Password" type="password" class="form-control" placeholder="Password"> </div>
                          {% if message == "no" %}
                          <p id="letter" class="invalid" id="inv">Invalid <b>Email</b> or <b>Password</b>!</p>
                          {% endif %}
                        <button type="submit" class="btn btn-primary" id="button">Login</button>
                      </form>
                    </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}

