{% extends 'layout/base.html' %}
{% load static %}

{% block extension %}SIMUI - List Organisasi{% endblock %}

{% block content %}
         <div class="align-items-center d-flex cover screen3 py-5">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 p-3">
                  <form class="p-4 bg-light" method="post" action="{% url 'core:add_org' %}">
                    {% csrf_token %}
                    <h4 class="mb-4 text-center">Tambahkan Organisasi</h4>
                    
                    <div class="form-group">
                      <label>Nama Organisasi</label>
                      <input name="name" class="form-control" placeholder="Name" maxlength="50"> </div>
                    <div class="form-group">
                      <label>Tingkatan</label>
                      <select name="tingkatan" style="position: relative; left: 1rem">
                        <option value="Fakultas">Fakultas</option>
                        <option value="Universitas">Universitas</option>
                      </select> </div>
                    <div class="form-group">
                      <label>Email</label>
                      <input name="email" type="email" class="form-control" placeholder="Email" maxlength="50"> </div>
                    <div class="form-group">
                      <label>Website</label>
                      <input name="website" class="form-control" placeholder="Website" maxlength="50"> </div>
                    <div class="form-group">
                      <label>Contact Person</label>
                      <input name="cp" class="form-control" placeholder="CP" maxlength="20"> </div> 
                    <div class="form-group">
                      <label>Kategori</label>
                      <select name="kategori" style="position: relative; left: 1rem">
                        <option value="Technology">Technology</option>
                        <option value="Health Care">Health Care</option>
                        <option value="Public Utilities">Public utilities</option>
                        <option value="Finance">Finance</option>
                        <option value="n/a">n/a</option>
                        <option value="Energy">Energy</option>
                        <option value="Consumer Services">Consumer Services</option>
                        <option value="Consumer Durables">Consumer Durables</option>
                        <option value="Consumer Non-durables">Consumer Durables</option>
                        <option value="Basic Industries">Basic Industries</option>
                        <option value="Capital Goods">Capital Goods</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                      </select> </div>
                    <div class="form-group">
                      <label>Logo</label>
                      <br><input type="file" name="logo" accept="image/*"> </div>
                    <div class="form-group">
                      <label>Deskripsi</label>
                      <input name="des" class="form-control" placeholder="deskripsi"> </div> 
                    <button type="submit" class="btn mt-4 btn-block p-2 btn-primary">
                      <b>Tambahkan</b>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        <!-- Scripts -->
{% endblock %}