  <!-- Navbar -->
{% block header %}
<nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbar2SupportedContent">
      <a class="navbar-brand" style ="position: absolute; left: 2.5rem ; bottom: 0.6rem " href="{% url 'core:index' %}">Simui</a>
      <ul class="nav navbar-nav">
        {% if request.session.role %}
          <li class="nav-item mx-2">
              <a class="nav-link" href="{% url 'core:index' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              View
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'core:list_kepanitiaan' %}">Committees</a>
              <a class="dropdown-item" href="{% url 'core:list_organisasi' %}">Organization</a>
              <a class="dropdown-item" href="{% url 'core:list_event' %}">Events</a>
          </div>
          </li>

          
          <a href="{% url 'core:logout' %}" class="btn btn-danger my-2 my-sm-0" role="button" style="position: absolute; right: 1rem" type="submit">Logout</a>          
        {% else %}
          <li class="nav-item mx-2">
              <a class="nav-link" href="{% url 'core:index' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              View
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'core:list_kepanitiaan' %}">Committees</a>
              <a class="dropdown-item" href="{% url 'core:list_organisasi' %}">Organization</a>
              <a class="dropdown-item" href="{% url 'core:list_event' %}">Events</a>
          </div>
          </li>
          <a href="{% url 'core:show_login' %}" class="btn btn-success my-2 my-sm-0" role="button" style="position: absolute; right: 1rem" type="submit">Login</a>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
