{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/screen4.css' %}">
  <link rel="stylesheet" href="{% static 'css/screen3.css' %}">
  <link rel="stylesheet" href="{% static 'css/umum.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

  <!-- <script src="{% static 'js/navbar-ontop.js' %}"></script>
  <script src="{% static 'js/animate-in.js' %}"></script> -->

  <title> {% block title %}{% endblock %}{% block extension %} - SIMUI{% endblock %}</title>
</head>

<body style="
 background-image: linear-gradient( #9fabbc, #9cbbc6, #a2c9c7, #b5d5c2, #d4debd);height: 100%; background-size: 400rem 400rem, cover;">
  <header>
    {% include 'partials/header.html' %}
  </header>
      {% block content %}
      {% endblock %}
    

        <!-- End of Scripts -->

   

    

 <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  {% block scripts %}
  {% endblock %}
  

</body>
</html>
