@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400|Lato:400,700|Nunito+Sans:800,400,600,700');


.screen4 {
  position            : absolute;
  margin              : 0px;
}
.screen4 .stats a {
  color: white;
}
.screen4 .stats a:hover{
  text-decoration: none;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.an-animation-enter {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.an-animation-enter1 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.an-animation-enter2 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.screen4 .path12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 516px;
  height              : 442px;
  width               : 467px;
  position            : absolute;
  margin              : 0;
  left                : 1334px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .header {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1211px;
  width               : 1513px;
  position            : absolute;
  margin              : 0;
  left                : -33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .header .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 801px;
  height              : 410px;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .header .background .form {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 410px;
  width               : 347px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .header .background .form .rectangle2 {
  background-color    : rgba(235, 91, 73, 1.0);
  top                 : 218px;
  height              : 47px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : -50px;
  border-radius       : 21px;
  -ms-transform       : rotate(-45deg); /* IE 9 */
  -webkit-transform   : rotate(-45deg); /* Chrome, Safari, Opera */
  transform           : rotate(-45deg);
}
.screen4 .header .background .form .rectangle21 {
  background-color    : rgba(40, 53, 131, 1.0);
  top                 : 258px;
  height              : 47px;
  width               : 147px;
  position            : absolute;
  margin              : 0;
  left                : 127px;
  border-radius       : 21px;
  -ms-transform       : rotate(-45deg); /* IE 9 */
  -webkit-transform   : rotate(-45deg); /* Chrome, Safari, Opera */
  transform           : rotate(-45deg);
}
.screen4 .header .background .form .rectangle22 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 73px;
  height              : 47px;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 257px;
  border-radius       : 21px;
  -ms-transform       : rotate(-45deg); /* IE 9 */
  -webkit-transform   : rotate(-45deg); /* Chrome, Safari, Opera */
  transform           : rotate(-45deg);
}
.screen4 .header .background .form .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 164px;
  height              : 49px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 285px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .header .background .form .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 361px;
  height              : 49px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .header .background .form .oval21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 245px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .header .background .form .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 163px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .header .background .form .rectangle23 {
  background-color    : rgba(235, 91, 73, 1.0);
  top                 : 66px;
  height              : 47px;
  width               : 147px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  border-radius       : 21px;
  -ms-transform       : rotate(-45deg); /* IE 9 */
  -webkit-transform   : rotate(-45deg); /* Chrome, Safari, Opera */
  transform           : rotate(-45deg);
}
.screen4 .header .menu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 65px;
  width               : 1440px;
  position            : fixed;
  margin              : 0;
  left                : 73px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .header .menu .menunavlight {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 65px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 600px;
  height              : 187px;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  left                : 1427px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .stats {
  background-color    : rgba(255,255,255,0.0);
  top                 : 290px;
  height              : 494px;
  width               : 789px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .title {
  top                 : 130px;
  height              : 494px;
  width               : 789px;
  position            : absolute;
  margin              : 0;
  left                : 34rem;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .stats .chiffre {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 252px;
  width               : 390px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.screen4 .stats .chiffre:hover {
  transform           : scale(1.1);
}
.screen4 .stats .chiffre .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 252px;
  width               : 390px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .stats .chiffre .organisasi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 112px;
  height              : auto;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.screen4 .stats .chiffre1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 252px;
  width               : 390px;
  position            : absolute;
  margin              : 0;
  left                : 399px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.screen4 .stats .chiffre1:hover {
  transform           : scale(1.1);
}
.screen4 .stats .chiffre1 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 252px;
  width               : 390px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .stats .chiffre1 .kepanitiaan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 112px;
  height              : auto;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.screen4 .stats .chiffre2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 200px;
  height              : 252px;
  width               : 390px;
  position            : absolute;
  margin              : 0;
  left                : 202px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.screen4 .stats .chiffre2:hover {
  transform           : scale(1.1);
}
.screen4 .stats .chiffre2 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 252px;
  width               : 390px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.screen4 .stats .chiffre2 .event {
  background-color    : rgba(255,255,255,0.0);
  top                 : 112px;
  height              : auto;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}